html {
    width: 100%;
    background-color: white;
}

* {
    margin: 0 auto;
    padding: 0;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.jc-right {
    justify-content: right;
}


/*CABECERA*/

.cabecera-logo {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.cabecera-logo h1 {
    align-items: left;
    margin: 0 5%;
    color: rgb(106, 185, 209);
    font-size: 5rem;
}

.cabecera-logo h2 {
    align-items: right;
    margin: 0 5%;
    color: black;
    font-weight: 200;
}


/*BOTONES*/

.navegador {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navegador a {
    margin: 0 5%;
    padding: 15px;
    font-size: 1.3rem;
}

.navegador a,
.detalle-pelicula a,
.btn {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.btn,
.detalle-pelicula a {
    width: 100%;
}

.detalle-pelicula a {
    font-size: 1rem;
}

.navegador a:hover,
.detalle-pelicula a:hover,
.btn:hover {
    background-color: rgb(106, 185, 209);
}

.icono img {
    width: 20px;
    height: 20px;
}

.contenedor-peliculas {
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.pelicula {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    margin: 1vh 5%;
    box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.31);
}

.detalle-pelicula {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 35%;
}

.img-pelicula {
    width: 80%;
    height: 65%;
    margin: 0 auto;
}

.contenedor-detalles {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 2vh auto;
    background-color: white;
    box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.31);
}

.contenedor-detalles img {
    height: 70vh;
}

.info-pelicula {
    margin: 20px;
}

.info-pelicula p {
    margin: 10px 0;
}

.titulo-seccion {
    margin: 0 5%;
    text-align: center;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor-generos {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    background-color: rgb(106, 185, 209);
}

.contenedor-generos a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.contenedor-agregar {
    width: 90%;
    margin: 3vh auto;
}

.titulo-formulario {
    text-align: left;
    color: rgb(106, 185, 209);
}

.form-add {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-edicion {
    margin: 1vh;
    display: flex;
    justify-content: space-between;
}

.form-edicion {
    flex-direction: column;
    width: 100%;
}

.form-edicion input,
.form-edicion select,
.form-add input,
.form-add select,
.form-genero input {
    padding: 10px 5px;
}